<body>
    <%- include('partials/header') -%>

      <h2 class="text-center text-pink-900 text-2xl font-bold pt-16 pb-8">My Reading List</h2>
      <div class="">
  
        <form action="/add" method="post" class="flex flex-col md:px-64 px-16 ">
          <input class="p-2 mb-2 border rounded-md border-pink-900 font-light	" type="text" name="enterTitle" placeholder="Enter Book name" required>
          <input class="p-2 mb-2 border rounded-md border-pink-900 font-light" type="text" name="enterAuthor" placeholder="Enter Author name" required>
          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>
     
          <input class=" p-2 bg-pink-100  rounded-md"  type="submit" name ='button' value="Submit">
        </form>
          
      </div>
</body>
<%- include('partials/footer') -%>