<%- include('partials/header') -%>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://assets.brightspot.abebooks.a2z.com/dims4/default/0833860/2147483647/strip/true/crop/800x600+0+0/resize/800x600!/quality/90/?url=http%3A%2F%2Fabebooks-brightspot.s3.amazonaws.com%2Fdc%2Fc0%2F1e44eb5b4f64aef77543b49cd4d2%2Fbooks-promo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Keep Track Of All Your Books</h1>
        <p class="lead">Keep track of all your books with ReadingNook. ReadingNook is a place to keep your own personal library.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/login" class="btn btn-danger"> Login</a>
            <a href="/signup" class="btn btn-danger"> Signup</a>
        </div>
      </div>
    </div>
  </div>

    

<%- include('partials/footer') -%>